:root{
    --dark-blue: #16a085;
    --red: #C8242F;
}
nav {
    width: 100%;
    border-bottom: 1px solid rgb(97, 97, 97);
}
.sticky-navbar{
    position: sticky;
    top: 0;
    z-index: 3;
}
.nav {
    width: 100%;
    background-color: white;   
}
.logo h1{
    color: whitesmoke;
    font-size: 40px;
    font-weight: 600;
}
.logo a{
    text-decoration: none !important;
    border: none;
}
.logo svg {
    font-size: 40px;
    cursor: pointer;
    display: none;
    color: whitesmoke;

}
.dont-show{
    transition: all 0.5s ease-in-out;
  }
  .show{
    margin-left: 0% !important;
    padding: 0px;
  }




/* navbar top end  */
/* navbar top end  */
.navbar {
    width: 100%;
    background-color:#16a085;
}

.navbar .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px 0px;
}

.navbar ul {
    list-style: none;
    display: flex;
    transition: all 1s ease-in-out;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    text-transform: uppercase;
    margin-left: 5px;
   
}

.nav-link-m{
    text-decoration: none;
    padding: 15px 15px;
    color: white;
    font-size: 16px;
}

.nav-link-m:hover {
    background-color: #d35400;
    color: white;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    text-decoration: none;
}
.nav-link-m.active{
    background-color: #d35400;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;
}